.users {
    margin-top: 48px;
    width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 376px) {
    .users {
        width: 375px;
        padding: 16px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
