.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.header_title {
  font-family: Roboto;
  font-size: 64px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  width: 447px;
  height: 75px;
  align-self: center;
}

.header_description {
  width: 846px;
  height: 46px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

@media (max-width: 376px) {
  .header_title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    align-self: center;
    width: 251px;
    height: auto;
  }

  .header_description {
    width: 334px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 64px;
  }
}
